extends layout

block content
  h1 Editor
  .row
    .col
      a.btn.btn-link(href="/") TOP
      table.table.table-dark.table-striped
        tbody
          tr
            th(span="row") Process name
            td
              input#processname.form-control(type="text", value=editdata.process, placeholder="Fill in process name")
          tr
            th(span="row") Owner
            td
              select#processowner.form-control(name="processowner")
                each user in data[0].data
                  if user.uid == editdata.owner
                    option(value=user.uid, selected)= user.name
                  else
                    option(value=user.uid)= user.name
          tr
            th(span="row") Manager
            td
              select#processmanager.form-control(name="processmanager")
                each user in data[0].data
                  if user.uid == editdata.manager
                    option(value=user.uid, selected)= user.name
                  else
                    option(value=user.uid)= user.name
          tr
            th(span="row") Status
            td
              select#processstatus.form-control(name="processstatus")
                - const statuses = ["develop", "active", "suspended", "retired"]
                each status in statuses
                  if status == editdata.status
                    option(value=status, selected)= status
                  else
                    option(value=status)= status
          tr
            th(span="row") Comment
            td
              input#processcomment.form-control(type="text", value=editdata.comment, placeholder="Shortly describe the process")
          tr
            th(span="row") ID
            td#pid= editdata.pid
          tr
            th(span="row") Actions
            td
              button.btn.btn-warning(onclick=`SaveProcess()`) Save
  .row
    .col
      h2 Action node list
      table.table.table-dark.table-striped
        tbody#actionnodelist
    .col
      h2 Network list
      table.table.table-dark.table-striped
        tbody#networklist
  .row
    .col
      h2 Preview
      #workflow
  .hidden_
    h2 Debug data
    pre#editdata= JSON.stringify(editdata, null, 2)
    pre#data= JSON.stringify(data, null, 2)
  script(src="/javascripts/workflowpreviewer.js")
  script(src="/javascripts/editor.js")
