extends layout

block content
  h1 Editor
  .row
    .col
      a.btn.btn-link(href="/") TOP
      table.table.table-dark.table-striped
        tbody
          tr
            th(span="row") Process name
            td
              input#processname.form-control(type="text", value=(rawdata[pid] ? rawdata[pid].process : ''), placeholder="Fill in process name", onchange=`EditProcess("${pid}",this.value,"process")`)
          tr
            th(span="row") Owner
            td
              select#processowner.form-control(name="processowner", onchange=`EditProcess("${pid}",this.value,"owner")`)
                each val, key in rawdata
                  if val.uid
                    if rawdata[pid] && key == rawdata[pid].owner
                      option(value=key, selected)= val.name
                    else
                      option(value=key)= val.name
          tr
            th(span="row") Manager
            td
              select#processmanager.form-control(name="processmanager", onchange=`EditProcess("${pid}",this.value,"manager")`)
                each val, key in rawdata
                  if val.uid
                    if rawdata[pid] && key == rawdata[pid].manager
                      option(value=key, selected)= val.name
                    else
                      option(value=key)= val.name
          tr
            th(span="row") Status
            td
              select#processstatus.form-control(name="processstatus", onchange=`EditProcess("${pid}",this.value,"status")`)
                - const statuses = ["develop", "active", "suspended", "retired"]
                each status in statuses
                  if rawdata[pid] && status == rawdata[pid].status
                    option(value=status, selected)= status
                  else
                    option(value=status)= status
          tr
            th(span="row") Comment
            td
              input#processcomment.form-control(type="text", value=(rawdata[pid] ? rawdata[pid].comment : ''), placeholder="Shortly describe the process", onchange=`EditProcess("${pid}",this.value,"comment")`)
          tr
            th(span="row") ID
            td#pid= pid
          tr
            th(span="row") Actions
            td
              button.btn.btn-warning(onclick=`SaveProcess()`) Save
  .row
    .col
      h2 Action node list
      table.table.table-dark.table-striped
        tbody#actionnodelist
      .input-group
        select#action.form-control(name="action")
          optgroup(label="Actions")
            each key in Object.keys(rawdata)
              if rawdata[key].aid
                option(value=rawdata[key].aid)= rawdata[key].action
          optgroup(label="Processes")
            each key in Object.keys(rawdata)
              if rawdata[key].pid
                option(value=rawdata[key].pid)= rawdata[key].process
        .input-group-append
          button.btn.btn-primary(onclick="AddActionNode(document.getElementById('action').value)") Add

    .col
      h2 Network list
      table.table.table-dark.table-striped
        tbody#networklist
  .row
    .col
      h2 Preview
      #workflow
  .hidden_
    h2 Debug data
    pre#data= JSON.stringify(rawdata, null, 2)
  script(src="/javascripts/workflowpreviewer.js")
  script(src="/javascripts/editor.js")
