extends layout

block content
  h1 Editor
  - let pindex = -1
  - let i = 0
  each process in data[3].data
    if process.pid == pid
      - pindex = i
    - i++
  .row
    .col
      a.btn.btn-link(href="/") TOP
      table.table.table-dark.table-striped
        tbody
          tr
            th(span="row") Process name
            td
              input#processname.form-control(type="text", value=(pindex >= 0 ? data[3].data[pindex].process : ''), placeholder="Fill in process name")
          tr
            th(span="row") Owner
            td
              select#processowner.form-control(name="processowner")
                each user in data[0].data
                  if pindex >= 0 && user.uid == data[3].data[pindex].owner
                    option(value=user.uid, selected)= user.name
                  else
                    option(value=user.uid)= user.name
          tr
            th(span="row") Manager
            td
              select#processmanager.form-control(name="processmanager")
                each user in data[0].data
                  if pindex >= 0 && user.uid == data[3].data[pindex].manager
                    option(value=user.uid, selected)= user.name
                  else
                    option(value=user.uid)= user.name
          tr
            th(span="row") Status
            td
              select#processstatus.form-control(name="processstatus")
                - const statuses = ["develop", "active", "suspended", "retired"]
                each status in statuses
                  if pindex >= 0 && status == data[3].data[pindex].status
                    option(value=status, selected)= status
                  else
                    option(value=status)= status
          tr
            th(span="row") Comment
            td
              input#processcomment.form-control(type="text", value=(pindex >= 0 ? data[3].data[pindex].comment : ''), placeholder="Shortly describe the process")
          tr
            th(span="row") ID
            td#pid= pindex >= 0 ? pid : 'New'
          tr
            th(span="row") Actions
            td
              button.btn.btn-warning(onclick=`SaveProcess(${pid})`) Save
  .row
    .col
      h2 Action node list
      table.table.table-dark.table-striped
        tbody#actionnodelist
    .col
      h2 Network list
      table.table.table-dark.table-striped
        tbody#networklist
  .row
    .col
      h2 Preview
      #workflow
  .hidden_
    h2 Debug data
    pre#data= JSON.stringify(data, null, 2)
  script(src="/javascripts/workfloweditrenderer.js")
